body {
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h1 {
	text-align: center;
}

a {
	color: #3b5998;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

td {
	border: 2px solid white;
}

#tabela-periodica {
	border-collapse: collapse;
	margin: 0 auto 0;
	clear: both;
}


.element,
.example {
	white-space: nowrap;
	vertical-align: top;
	text-align: center;
	background-color: White;
}

.element {
	width: 60px;
	height: 60px;
	cursor: pointer;
}

.element>div:nth-child(1) {
	width: inherit;
	height: inherit;
	overflow: hidden;
	position: absolute;
	padding: 2px 2px 2px 2px;
}

.element.compact {
	font-stretch: condensed;
}

.element .an,
.element .symbol,
.element .name,
.element .mass,
.element .ec {
	width: 50px;
}

.an {
	text-align: left;
	font-weight: bold;
	color: #555;
	font-size: .9em;
}

.symbol {
	font-weight: bold;
	position: relative;
	font-size: 1.5em;
	top: -7px;
}

.name,
.mass,
.ec {
	font-size: .5em;
	position: relative;
	top: -11px;
}

.name {
	font-weight: bold;
	font-stretch: condensed;
}

.ec {
	font-size: .4em;
}

.klmnopq,
.klmnopq-descr {
	font-size: .5em;
	line-height: 1;
	vertical-align: top;
	padding-top: 3px;
}

.klmnopq {
	float: right;
	padding-right: 3px;
	text-align: right;
	color: white;
}

.klmnopq-descr {
	width: 20px;
	text-align: left;
	border-left: none;
	color: gray;
}

.example {
	border: none;
}

.example>div:nth-child(1) {
	width: 120px;
	height: 120px;
	border: 2px solid black;
	position: absolute;
	padding: 2px 2px 2px 2px;
}

.example .an,
.example .symbol,
.example .name,
.example .mass,
.example .ec {
	width: 100px;
}

.example .symbol {
	font-size: 1.6em;
	top: 18px;
}

.example .name,
.example .mass,
.example .ec {
	font-size: .8em;
	top: 20px;
}

.example .klmnopq {
	font-size: .8em;
	color: gray;
	padding-top: 4px;
}

.family {
	vertical-align: bottom;
}

.family div,
.group,
.period {
	color: #04336B;
	vertical-align: bottom;
	font-size: medium;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.period {
	vertical-align: middle;
}

.family div:hover,
.group:hover,
.period:hover {
	background-color: #ccc;
}

.active {
	background-color: black;
	color: white !important;
}

.info {
	vertical-align: top;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	align-content: center;
}

.info>div {
	width: 600px;
	height: 140px;
	position: absolute;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 2px solid black;
}

.details {
	z-index: 10;
}
.details th {
	text-align: left;
	width: 120px;
}
.details td {
	border: none;
	text-align: left;
	background-color: rgba(255, 255, 255, .6);
	width: auto;
}
.details tr td:nth-child(2) {
	width: 100px;
}
.details tr th:nth-child(3) {
	width: 90px;
}
.details tr td:nth-child(4) {
	width: 250px;
}
.subtitle {
	z-index: 5;
}
.subtitle table{
	border-collapse: collapse;
	margin: 0 auto 0;
	clear: both;
}
.subtitle table td {
	padding: 0;
}
.subtitle>div{
	width: 33.33333333%;
	float: left;
	position: relative;
    padding-right: 4px;
    padding-left: 4px;
	box-sizing: border-box;
	display: block;
}
.subtitle a {
	font-weight: normal;
}

.subtitle a.tick,
.subtitle a.descr {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.subtitle a.descr {
	text-align: left;
	padding-left: 4px;
	vertical-align: middle;
	font-size: .8em;
	width: 150px;
}

.subtitle a.prop {
	text-align: center;
	border: 1px solid #000;
	font-weight: bold;
}

.subtitle .solido,
.solido .symbol {
	color: Black;
}

.subtitle .liquido,
.liquido .symbol {
	color: Red;
}

.subtitle .gasoso,
.gasoso .symbol {
	color: Blue;
}

.subtitle .desconhecido,
.desconhecido .symbol {
	color: #DDD;
}


.alcalino {
	background-color: #FA0;
}

.alcalino-terroso {
	background-color: #aaaa00;
}

.lantanideo {
	background-color: #FA8;
}

.actinideo {
	background-color: #DAC;
}

.metal-transicao {
	background-color: #D99;
}

.semi-metal {
	background-color: #5C8;
}

.metal-representativo {
	background-color: #9BA;
}

.nao-metal {
	background-color: #0E0;
}

.calcogenio {
	background-color: rgb(131, 131, 131);
}

.halogenio {
	background-color: #0DB;
}

.gas-nobre {
	background-color: #6AF;
}